@import "tailwindcss";

body {
  margin: 0;
  font-family: "Inria Serif", sans-serif;
  overflow-x: hidden;
  position: relative;
  min-height: 100vh;
}

body::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

:root {
  --color-primary: #043e1d67;
  --color-secondary: #29b34b2c;
  --color-cream: #f5f5dc;
  --color-gray: #7d7d7d;
  --color-purple: #535bf2;
  --font-secondary: "Poetsen One", sans-serif;
  --font-primary: "Roboto", sans-serif;
  line-height: 1.5;
  font-weight: 600;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 1000;
  color: #ffffff;
  text-decoration: inherit;
}
a:hover {
  color: var(--color-purple);
}

.icons:hover {
  color: var(--color-gray);
}

h1 {
  font-family: var(--font-secondary);
  font-size: 2.8rem;
}
h2 {
  font-size: 1.7rem;
}

p {
  font-size: 16px;
}

li {
  font-size: 16px;
  color: rgb(255, 255, 255);
  list-style: circle;
}

@layer components {
  .card {
    background-color: transparent;
    color: var(--color-cream);
    padding: 1rem 0.5rem;
    border-radius: 0.5rem;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s;
  }
  button {
    border-radius: 8px;
    border: 1px solid transparent;
    padding: 0.6em 1.2em;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    background-color: #5250507e;
    cursor: pointer;
    transition: border-color 0.25s;
  }
  button:hover {
    border-color: #646cff;
    color: var(--color-purple);
  }
  button:focus,
  button:focus-visible {
    outline: 4px auto -webkit-focus-ring-color;
  }


  .active {
    border-bottom: 1px dashed var(--color-white);
  }
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

.typewriter h1{
  color: #fff;
  overflow: hidden;
  border-right: 1px solid #fff;
  white-space: nowrap;
  margin: 0 auto;
  letter-spacing: 0.03em;
}

@media (min-width: 640px) {
  .typewriter {
    animation: typing 2.5s steps(30, end) forwards,
               blink-caret 0.6s step-end 4 forwards;
  }
}


/* The typing effect */
@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: rgb(255, 255, 255);
  }
}

@media (max-width: 640px) {

  h1 {
    font-size: 1.3rem;
  }
  h2 {
    font-size: 1rem;
  }
  p {
    font-size: 14px;
  }

  .typewriter h1 {
    white-space: normal;
    border-right: none; 
  }

  button {
    border-radius: 8px;
    border: 1px solid transparent;
    padding: 0.3em 0.4em;
    font-size: 14px;
    font-weight: 400;
    font-family: inherit;
    background-color: #5250507e;
    cursor: pointer;
    transition: border-color 0.25s;
  }

  a {
    font-size: 14px;
  }
}
